<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'component/header.html'%}

    <script>
      $(document).ready(function () {
        fetchSimilarityData();
      });

      function fetchSimilarityData() {
        $.ajax({
          url: "/get-similarity",
          type: "GET",
          success: function (data) {
            $("#cardSimilarity").empty();
            dataSimilarity = data;
            for (let i = 0; i < dataSimilarity.length; i++) {
              let cardTemp = `<div
            data-aos="fade-right"
            data-aos-duration="2000"
            class="col-span-1 p-4 border rounded-lg bg-white border-blue-500 shadow-md dark:bg-gray-900 dark:border-cyan-900 flex flex-col justify-between h-full"
          >
            <!-- Icon Section -->
            <div
              class="relative bg-primary w-full h-32 flex items-center justify-center"
            >
              <i
                class="mdi mdi-file-account-outline text-blue-700 dark:text-cyan-400 text-6xl"
              ></i>
            </div>

            <!-- Content Section -->
            <div class="mb-4">
              <h5
                class="text-xl font-semibold text-center mb-4 text-black dark:text-white"
              >
                Stay ID ${dataSimilarity[i].stayId}
              </h5>
              <ul class="list-none text-gray-500 dark:text-gray-400 text-sm mb-2">
                <li>HADM ID: ${dataSimilarity[i].hadmId}</li>
                <li>ICD CODE: ${dataSimilarity[i].icdCode}</li>
                <li>Diagnosis: ${dataSimilarity[i].diagnosis}</li>
              </ul>
            </div>

            <!-- Button Section -->
            <div class="mt-auto">
              <button
                class="btn w-full py-2  rounded hover:bg-blue-800 text-white bg-blue-500 dark:bg-cyan-900 dark:hover:bg-cyan-400 dark:hover:text-black transition"
                onclick="selectSimilarity('${dataSimilarity[i].stayId}')"
              >
                View
              </button>
            </div>
          </div>
          `;
              $("#cardSimilarity").append(cardTemp);
            }
          },
          error: function (err) {
            console.error("Error fetching data: ", err);
          },
        });
      }

      function selectSimilarity(stayId) {
        $.ajax({
          type: "POST",
          url: "/select-similarity",
          data: JSON.stringify({ id: stayId }),
          contentType: "application/json",
          success: function (response) {
            window.location.href = "/summary/" + stayId;
          },
          error: function (error) {
            console.error("Error:", error);
          },
        });
      }
    </script>
  </head>
  <body>
    {% include 'component/navbar.html'%} {% include 'component/sidebar.html'%} "
    <div class="p-4 sm:ml-64 bg-gray-100 border-b dark:bg-gray-950">
      <div
        class="p-4 border-2 border-gray-100 border-dashed rounded-lg dark:border-gray-950 mt-14"
      >
        <div class="flex justify-between items-center mb-6">
          <h1
            class="mb-10 text-4xl font-semibold text-black dark:text-gray-200"
          >
            Similarity
          </h1>
          <!-- Search Bar -->
          <div class="w-64 sm:w-72 md:w-80 -mt-8">
            <form class="max-w-md mx-auto">
              <label
                for="default-search"
                class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
                >Search</label
              >
              <div class="relative">
                <div
                  class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
                >
                  <svg
                    class="w-4 h-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                    />
                  </svg>
                </div>
                <input
                  type="search"
                  id="default-search"
                  class="block w-full p-3 pl-10 text-sm text-gray-900 border border-blue-500 rounded-lg bg-gray-50 focus:ring-blue-700 focus:border-blue-700 dark:bg-gray-900 dark:border-cyan-900 dark:placeholder-gray-400 dark:text-white dark:focus:ring-cyan-400 dark:focus:border-cyan-400"
                  placeholder="Search Mockups, Logos..."
                  required
                />
              </div>
            </form>
          </div>
        </div>
        <div
          id="cardSimilarity"
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-4 mt-6"
        >
          <!-- Card Similarity -->
          <div
            data-aos="fade-right"
            data-aos-duration="1500"
            class="col-span-1 p-4 border rounded-lg bg-white border-blue-500 shadow-md dark:bg-gray-900 dark:border-cyan-900"
          >
            <div
              class="relative bg-primary w-full h-32 flex items-center justify-center"
            >
              <i
                class="mdi mdi-file-account-outline text-blue-700 dark:text-cyan-400 text-6xl"
              ></i>
            </div>
            <h5
              class="text-xl font-semibold text-center mb-4 text-black dark:text-white"
            >
              Stay ID 1312312312
            </h5>
            <ul class="list-none text-gray-500 dark:text-gray-400 text-sm mb-2">
              <li>HADM ID: 1312312312</li>
              <li>ICD CODE: 1312312312</li>
              <li>Diagnosis: dataSimilarity[i].diagnosis</li>
            </ul>
            <div class="text-center mt-auto">
              <button
                class="btn w-full mt-2 py-2 rounded mb-2 hover:bg-blue-800 text-white bg-blue-500 dark:bg-cyan-900 dark:hover:bg-cyan-400 dark:hover:text-black transition"
                onclick="selectSimilarity('${dataSimilarity[i].stayId}')"
              >
                View
              </button>
            </div>
          </div>
        </div>
      </div>
      {% include 'component/footer.html'%}
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
